:root {
    --primary-color: #ffff;
    --bg-color: #f7f8f9;
    --primary-font-color: #333;
    --font-color-name: #333;
    --font-color-nav: #999;
    --font-color-nav-hover: #777777;
    --font-color-title: #337ab7;
    --font-color-p: #999;
    --font-color-footer: #777777;
    --font-color-footer-hover: #999;
    --footer-bg-color: #eeeeee;
}

[data-theme="dark"] {
    --primary-color: #212121;
    --bg-color: #1c1c1c;
    --primary-font-color: #777777;
    --font-color-name: #777777;
    --font-color-nav: #777777;
    --font-color-nav-hover: #999;
    --font-color-title: #77e1cd;
    --font-color-p: #777777;
    --font-color-footer: #777777;
    --font-color-footer-hover: #999;
    --footer-bg-color: #212121;
}

body, html {
    margin: 0;
    padding: 0;
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* font-family: andale mono, monospace; */
    background-color: var(--bg-color);
}

header {
    position: relative;
    background-color: var(--primary-color);
    padding: 50px 30px 20px;
    /* margin-top: 30px; */
}

#inside-header {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    width: 70%;
    margin: 20px auto;
}

#name {
    margin: 0;
    font-size: 24px;
    line-height: 1.2em;
    word-wrap: break-word;
    font-weight: 600;
    /* text-transform: none; */
}

#name a {
    text-decoration: none;
    color: var(--font-color-name);
}

#name a:hover {
    text-decoration: none;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    color: var(--font-color-nav);
    font-weight: 250;
    font-size: 16px;
}

nav a:hover {
    text-decoration: none;
    color:var(--font-color-nav-hover);

}

/* #theme-toggle {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
} */

#main-content {
    flex-grow: 1;
    /* padding: 50px; */
}

/* #main-content {
    margin-bottom: 10px;
} */

#project-1, #project-2, #project-3, #project-4 {
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin-bottom: 20px;
    background-color: var(--primary-color);
}

#main-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: var(--font-color-title);
    font-size: 35px;
    /* line-height: 1.2em; */
    font-weight: 300;
    text-transform: none;
}

#main-content h2 a {
    text-decoration: none;
    color:inherit;
}

#main-content h2 a:hover {
    text-decoration: underline;
}

#main-content p {
    color: var(--font-color-p);
    line-height: 1.6em;
    text-indent: 30px;
    margin-bottom: 20px;
}

#main-content span {
    font-size: 14px;
    color: var(--primary-font-color);
}

#about-info {
padding: 20px;
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
margin-bottom: 30px;
background-color: var(--primary-color);
color: var(--primary-font-color);
}

footer {
    background-color: var(--footer-bg-color);
    text-align: center;
    padding: 30px;
    /* position: sticky; */
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: var(--font-color-footer);
    font-weight: 250;
}

footer a:hover {
    text-decoration: none;
    color: var(--font-color-footer-hover);
}

/*slider switch css */
  .theme-switch {
    position: absolute;
    top: 20px; /* Adjust the value to give some space from the top */
    right: 30px; /* Adjust the value to give some space from the right */
    /* No need to set display:block since this is for the wrapper and .theme-switch is now a direct child of header */
    display: inline-block;
    height: 26px;
    width: 40px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 20px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 20px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* Mobile Styles */
@media screen and (max-width: 768px) {
    #inside-header {
        flex-direction: column; /* Stack elements vertically */
        width: 100%;
        text-align: center;
    }

    #name {
        margin-bottom: 20px; /* Add some space between the name and nav */
        text-align: center; /* Center-align the name */
    }

    #name a {
        font-size: 24px; /* Adjust the font size as needed */
    }

    nav {
        display: flex;
        width: 100%;
        align-items: flex-start; /* Align items to the start of the flex container */
        justify-content: space-around;
    }

    nav a {
        display: block-inline; /* Make nav links block elements to stack them */
        margin: 10px 0; /* Add some vertical space between links */
        text-align: center; /* Center-align the links */
        font-size: 14px;
    }

    #container {
        width: 100%;
    }

    .theme-switch {
        position: absolute;
        top: 12px; /* Adjust the value to give some space from the top */
        right: 16px; /* Adjust the value to give some space from the right */
        /* No need to set display:block since this is for the wrapper and .theme-switch is now a direct child of header */
        display: inline-block;
        height: 20px;
        width: 34px;
      }
      
      .theme-switch input {
        display:none;
      }
      
      .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
      }
      
      .slider:before {
        background-color: #fff;
        bottom: 2px;
        content: "";
        height: 16px;
        left: 2px;
        position: absolute;
        transition: .4s;
        width: 16px;
      }
      
      input:checked + .slider {
        background-color: #66bb6a;
      }
      
      input:checked + .slider:before {
        transform: translateX(14px);
      }
      
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}
