body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#wrapper {
    width: 70%;
    margin: 50px auto;
    background-color: #ffffff;
    /* padding: 20px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

header h1 {
    text-align: center;
    font-size: 2em;
}

header h1 {
    text-decoration: none;
    color: #333
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    border-top: 3px solid #cdcdcd;
    border-bottom: 3px solid #cdcdcd;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: #337ab7;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    text-decoration: underline;
}

main article {
    margin-bottom: 30px;
}

main article h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #337ab7;
}

main article h2 a {
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Ensure link has the same color as the h2 text */
}

main article h2 a:hover {
    text-decoration: underline; /* Add underline when the link is hovered */
}

main article p {
    color: #999;
    line-height: 1.6em;
    text-indent: 30px;
    margin-bottom: 50px;
}

main article span {
    font-size: 14px;
    color: #333;
}

#button-container {
    text-align: right;
}

#theme-toggle {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Dark mode styles */
body.dark-mode #theme-toggle {
    background-color: #333; /* or any color you prefer in dark mode */
    color: #fff;
}

body.dark-mode {
    background-color: #1c1c1c;
}

body.dark-mode #wrapper {
    background-color: #1c1c1c; /* Change as per your preference */
}

body.dark-mode header, body.dark-mode nav, body.dark-mode main article {
    background-color: #1c1c1c; /* You can adjust this color */
}

body.dark-mode nav ul li a {
    color: #77e1cd;
}

body.dark-mode header h1 {
    color: #dfdfdf;
}

body.dark-mode main article h2 {
    color: #77e1cd;
}

body.dark-mode main article span {
    color: #dfdfdf;
}

body.dark-mode main p {
    color: #dfdfdf;
}

